<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="header :: header"></div>
    <title>admin</title>
</head>
<body>
<div th:include="header :: nav"></div>
<div class="container">
    <h3>选择权限来修改</h3>
    <div class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="the name of new Role">
        </div>
        <button type="submit" class="btn btn-success" onclick="add()">增加一个权限</button>
    </div>
    <table class="table table-hover">
        <div th:each="auth:${auths}">
            <tr>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a>
                            <h3 class="panel-title" th:text="${auth.name}"></h3>
                        </a>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${auth.modifiedTime}"></li>
                        <li class="list-group-item">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button"
                                        class="btn btn-default " th:onclick="|del(${auth.id})|">删除
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </tr>
        </div>
    </table>
</div>
</body>
<script type="text/javascript">
    function add() {
        $.ajax({
            url: '/auth',
            type: 'POST',
            data: {auth: $("#exampleInputName2").val()},
            success: function (res) {
                var result = eval("(" + res + ")")
                if (result.state) {
                    alert("成功添加权限：" + $("#exampleInputName2").val())
                    window.location.reload()
                } else {
                    alert("失败")
                }
            }
        });
    }

    function del(auth) {
        $.ajax({
            url: '/auth',
            type: 'DELETE',
            data: {id: auth},
            success: function (res) {
                var result = eval("(" + res + ")")
                if (result.state) {
                    alert("成功删除角色")
                    window.location.reload()
                } else {
                    alert("失败")
                }
            }
        });
    }
</script>
</html>