<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="header :: header"></div>
    <meta charset="UTF-8">
    <title>The Marcus' blog</title>
</head>
<body>
<div th:include="header :: index"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8" th:each ="i:${messages}">
            <h2 th:text="${i.title}"></h2>
            <p th:text="${#strings.abbreviate(i.context,200)}"></p>
            <p><a class="btn btn-primary" th:href="|/message/${i.id}|" role="button">View details »</a></p>
        </div>
    </div>
</div>
<div th:include="header :: page"></div>
</body>
</html>