<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <div th:include="header :: header"></div>
    <style>
        .page {
            text-align: center;
            margin-bottom: 200px;
        }
    </style>
    <script src="/js/jquery.transit.min.js"></script>
    <script src="/js/es6-shim.min.js"></script>
    <script src="/js/easyhelper.min.js"></script>
    <link rel="stylesheet" href="/css/easyhelper.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h3>Hello, world!</h3>
            <p>This is a message list</p>
        </div>
        <div id="addbutton" class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" onclick="window.location.href='/message/add'"
                    class="btn btn-default">添加一条消息
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="container_list">
        <div th:each ="i,iStat:${message}">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <a th:href="|/message/detail/${i.id}|">
                        <h3 class="panel-title" th:text="${i.title}"></h3>
                    </a>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" th:text="${i.time}"></li>
                    <li class="list-group-item">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" th:onclick="|window.location.href='/message/${i.id}/change'|"
                                    class="btn btn-default">编辑
                            </button>
                            <button type="button" th:onclick="|window.location.href='/message/delete/${i.id}/'|"
                                    class="btn btn-default">删除
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page" id="page-1"></div>
</div>
<script th:inline="javascript">
    // 本地模拟的内容生成函数
    var $content = $(".container_list");
    // 调用分页功能 [ 基础版 ]
    Helper.ui.page("#page-1", {
        total:[[${total}]],
        pageSize: 5,
        change: function (i) {
            window.location.assign("/message/"+i)
        }
    });
</script>
</body>
</html>
