<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <div th:include="header :: header"></div>
    <title>admin</title>
    <script src="/js/bootstrap-select.min.js"></script>
    <link href="/css/bootstrap-select.css" rel="stylesheet">
</head>
<body>
<div th:include="header :: nav-user"></div>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item" th:text="|id:  ${role.id}||"></li>
        <li class="list-group-item" th:text="|nickname:  ${role.name}|"></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <h2>为此角色选择权限</h2>
                <select id="mySelect" class="selectpicker form-control" data-live-search="true" multiple
                        title="Choose one of the following..." data-actions-box="true">
                    <optgroup label="可供选择的权限">
                        <option th:each="auth : ${authorities}" th:text="${auth.name}"></option>
                    </optgroup>
                </select>
                <button class="btn btn-danger" onclick="role()">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        $("#mySelect").selectpicker('val', [[${hasauthorities}]])
    });
    function role() {
        var auth = $("#mySelect").val()
        userId = [[${role.id}]]
        $.post("/role/" + userId + "/auth", {
                authority: auth.toString()
            },
            function (res) {
                var result=eval("("+res+")")
                if(result.state){
                    alert("成功添加权限："+auth)
                }
                else{
                    alert("失败")
                }
            }
        )
    }
</script>
</html>