<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="header :: header"></div>
    <title>admin</title>
</head>
<body>
<div class="container">
    <nav class="header-panel">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">用户管理</a></li>
            <li role="presentation"><a href="#">角色管理</a></li>
            <li role="presentation"><a href="#">权限管理</a></li>
            <li role="presentation"><a href="/logout">注销</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <h3>选择用户来修改</h3>
    <ul class="list-group">
        <div th:each="user : ${users}">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <a th:text="${user.nickname}" th:href="|/user/${user.id}/role|"/>
                </div>
            </div>
        </div>
    </ul>
</div>
</body>
</html>